body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

nav {
    background: #35424a;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 0px;
}

nav ul li a {
    background: #35424a; /* Set the background color to match the header */
    color: #ffffff;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    border: 1px solid #ffffff; /* Add a white border around each menu item */
    border-top-left-radius: 10px; /* Round the top-left corner */
    border-top-right-radius: 10px; /* Round the top-right corner */
    border-bottom-left-radius: 0; /* Keep the bottom-left corner flat */
    border-bottom-right-radius: 0; /* Keep the bottom-right corner flat */
}

nav ul li a:hover {
    background: #575757;
    border-radius: 5px;
}

main.padded {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main.padded p {
    font-size: 3em; /* Adjust the size as needed */
    margin: 0;
}

main.padded img {
    position: absolute;
    top: 120px; /* Adjust the position as needed */
    left: 20px; /* Adjust the position as needed */
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #e8491d;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}