* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth ;
    scroll-padding-top: 100px;
}

:root {
    --primary-color: #2a68c4;
    --dark-color: #111;
    --light-color: #f4f4f6;
    --secondary-color: #35424a;
    --text-color: #333;
    --background-color: #f4f4f4;
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
    height: 80px;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background: #fff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #333;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 15px;
    display: block;
    font-weight: 600;
    transition: .5s;
}
.navbar ul li a:hover {
    color: var(--primary-color);
}

/* Hero */
.hero {
    background: url('./images/Windows-XP.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

.hero .hero-content {
    width: 75%;
    position: sticky;
    top: 120px;

}

/* Body */
.about .container {
    margin: 50px 0 500px;
    padding: 0 15px;
}

.resume .container {
    max-width: 50%;
    margin: 50px auto 10px;

}
.resume .container .resume-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contact .container {
    margin: 50px 0 500px;
    padding: 0 15px;
}

/* Utility classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-small {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}  

.container .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .name {
    max-width: 100%;
}

.proj {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* section {
    padding: 10px;
    background: #f4f4f4;
    margin: 10px 0;
    border-radius: 5px;
} */

.name a {
    color: #040303;
    font-size: 1.5rem;
    /* margin: 0;
    padding: 0; */
    font-weight: 100;
}

.name a span {
    font-weight: 100;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #ffffff;
}

/* Text classes */

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 5px 0 10px;
}

.text-center {
    text-align: center;
}



/* Media Queries for Responsive Design */

/* Styles for devices with a max width of 768px (e.g., tablets and mobile devices) */
@media (max-width: 768px) {
     /* .navbar ul { */
        /* display: flex; */
        /* flex-direction: row; Stack menu items vertically */
        /* padding-bottom: 1px; */
        /* justify-content: space-between; Space out the menu items */
        /* align-items: center; Center the items vertically */
        /* width: 100%; Make the nav take full width */
        /* margin: 0; Remove margin */
        /* padding: 0; Remove padding */
    /* }  */

    .navbar ul li {
        margin: 0; /* Adjust the spacing between menu items */
    }

}

/* Styles for devices with a max width of 480px (e.g., small mobile devices) */
@media (max-width: 480px) {
    nav ul li a {
        padding: 0px px; /* Adjust the padding for smaller screens */
    }

    main.padded p {
        font-size: 1.5em; /* Adjust the font size for smaller screens */
    }

    main.padded img {
        top: 30px; /* Adjust the position for smaller screens */
        left: 5px; /* Adjust the position for smaller screens */
        width: 100px; /* Adjust the size for smaller screens */
    }

    .proj img { 
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
        /* min-width: 100%; */
        gap: 5px; /* Adjust the gap between items */
        width: 49%; 
        height: auto
    }
}